.details {
  padding: 0 1.5rem;
  z-index: 1000;
  // border: thin solid white;
  position: relative;
  bottom: 35vh;
  height: 60vh;

  .overview {
    position: absolute;
    bottom: 0;
    margin-right: 5rem;
  }

  .generes {
    position: absolute;
    bottom: 5vh;
  }

  img {
    height: 48vh;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .details {
    z-index: 1000;
    // border: thin solid white;
    position: initial;
    height: 60vh;

    .overview {
      position: initial;
      bottom: 0;
      margin-right: 0;
    }

    .generes {
      margin: 20px 0;
      position: initial;
    }

    img {
      height: 48vh;
      display: none;
    }
  }
}
