<!-- <div class="container" *ngIf="!isShowing"> -->
<app-search-bar></app-search-bar>
<div fxLayout="column" class="banner-most-popular" *ngIf="!isShowing">

  <section fxLayoutAlign="center center">
    <div class="banner-info text-center">
      <h1 class="font-weight-normal">{{ mostPopularMovie.title}}</h1>
      <h3 class="sub-header font-weight-light">Más Popular</h3>
    </div>
    <div>
      <img [src]="imgPath+mostPopularMovie.backdrop_path" class="banner-img">
    </div>
  </section>

  <section class="mx-3 mt-4">
    <h5 class="mb-4 sub-header font-weight-light">Películas populares</h5>
    <app-carousel [items]="movies" [type]="'movie'"></app-carousel>
  </section>

  <section class="mx-3 mt-4">
    <h5 class="mb-4 sub-header font-weight-light">Series populares</h5>
    <app-carousel [items]="tvShows" [type]="'tv'"></app-carousel>
  </section>

  <section class="text-center mt-5 mb-5">
    <h5 class="mb-4 sub-header font-weight-light">Las películas más aclamadas</h5>
    <app-top-rated [items]="topRated"></app-top-rated>
  </section>

</div>

<!-- </div> -->