<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div id="custom-search-input">
      <div class="input-group search">
        <input type="text" class="search-query form-control" placeholder="Buscar" formControlName="query" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="submit">
            <i class="fa fa-search" aria-hidden="true" style="color: white"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</form>